Source: karin-console
Section: user/tools
Priority: optional
Maintainer: Karin Zhao <beyondk2000@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), libqt4-dev, libmeegotouch-dev, libmaliit1-dev
Standards-Version: 3.8.4

Package: karin-console
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Konsole on MeeGo Harmattan.
 Terminal emulator for MeeGo Harmattan.
 Based on MeeGo-Terminal.
XB-Maemo-Display-Name: Karin Console
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABAEAYAAAD6+a2dAAAABmJLR0QA/wD/AP+gvaeTAAAACXBI
 WXMAAAsTAAALEwEAmpwYAAAACXZwQWcAAABAAAAAQADq8/hgAAAtTUlEQVR42u2ddVyUaff/bzol
 ho4BpEEQGaRFUEIJRQGDLgMxKWlQGqQMGlEJETGwUexAaQNbsQNbFEUQ7t9nRmbX3e8++3Wf9dnf
 fp91/nm/7rru6zrnXOd8zozLEsTf9EOS8z6U69I5P2DTHeImjqeUZ3NTwTEVF8SqQK3KufKhoHRl
 nWYrSK3cquMCqlZuNREH1St3mZWCapU7zLxA/cqLDHpW1TEYuFnuF2SeZ97HfI45DnNc5nuY7zWo
 zKfPY+6sDZn0ec3hKxhFn2dAx5Z3jHkz1vHj8z8cPGfO2SAGK0pDGSzd5Mi7ESzfZKa1FwaNKh9v
 txrHXZuuBmbhmHXj+/RROLYrXba5gST9u4pMD0uCW/JDO9vAuLwLXbWgwjrvDzIg+9qbg2dBnrUv
 By3IPr9ba0MHLT4n+rnkrhy06HfwU8sZ8TOZ55n3/fTcz+Mwx2W+h/nee0Xj6fOYM6KURp/XnIMb
 a9K1wAubWgP9wd2bltj6gOs3DmjtZKzTjbFO5roZdvgvdPDKCpKk05LD5ACdS4QONxBG2Bk6u19z
 d2LhDWUfxumDIevD4x+Qj+bwlGbV7CKb/VXz41o5yMt+Y3Nfdd8fdPLpyugfavzg5iOagqffi3hr
 JlwA5bxOreAHKV6BMd2ggBct+hnI6lkROZck3w15hkVE4JjdMzoCYfTujKdjhBRJvhnhcTZMmyRf
 3vYoDjnyM5nnmff99BxznOFxf3oP8730ebAx5qWV6EeSmKd4ShNJYt6XM7qG1pOXfd+uFn9ah3Wp
 FLS1ElgnV+lyrJP0bylJjW/E+gVKtpv1kaTvsqxJIygkmWQAuyHQLLtoj3624/8hxy9519JBEJ3F
 s819trJgh/g2ZWwUXze02H/P2qluPZ+5/HLWrtxtNuDlsz/76b3e/gXedsn1/dve2HpWRF8kyadt
 HgFhHGC3+7VgdZJ8ss3dcMkZknxY63Zv0WuSfHDA7eSiD+Bxt5bFKgyeXzybwc7FAQzeWpzL4J3F
 ZcNEAn9w2u3+4kqMw+b2fPEVUM3t1eJXX3H4PPO+n577eRzmuMz3MN/bslh1eF4vh+f5mDFvoyWn
 sI5n7reCvYfXFYZAs/Usj24hyf753irJ9v0bBwJ9DmUfvh/+Od+PN/fegQKSyy8pZ6FXOHnN9+Eq
 XvHZsKOfjwbdjkveNfn8rR3vdWOFBpjt1Rl/k8LzwcXrVWS9h+GHBq8xkZdOzX0R6/o5uL13xLVt
 LoJzrw5Nar/hcM3jIUm2+dk7uSL+Wx7YS89eSJLNt+zIWT3gY3ue2cpgnz1l9kxcV7eXmo1K22Jk
 LzM7HDT8m5E5r+F5MufNWMfI4XU9/3mdbR72jq6fSLJDfMoYT12SvMnpcnn+4qEzr3a4pYSO6l3V
 5+CVENV4yveDpde5yAj3jwO3vK7E2AgHfzbzuhMT+zdweP8s7/HRUnTH+0qvCCWO9KV6PY3i1o7v
 feulELG/JOdpy+zepWo97y59mH7IJ4QkzzlN3jQDqbFxsU2fM3Zw41Sbp853QAebR86PwBk2T5yx
 Exvdcb7nv5jMdTLX7WjT7XwXnGfz0hkZrumMHecsFIGrik5z/aAcui1d05du6vF8b+glE15brNFX
 6dUSJaANTeS7esVz4gjTD3/Zp0fZ0z9sH0H0zfBmjalk03nL5+kSdsqh92m3B/uyiGarG9XOl+c8
 HypsIm3VZu4jydOPrD5PR2o8Y2ut7WQGelhbOE0D3a3NnRx/8Ccy7WJiLec0Gna7Yc03HYHSvNq2
 ftZkZAhDF7e54UOF3cUeNUFqzVZvSE+TsL0OvX1mXkMxOWw6TL/8B1O8n2ZeKYNO+aJswaDfGsKx
 bqDPpzq15Nbl7sMeSUH2iNxts5rmILVduT/jgX8ejmfM1PLHQq7Omqnr3/OD30znmaP8sXGudM64
 7J+G4zOzBuaiCX1x1lMxBJlicKbPlbTTty6TjX7TVhc71sEfjnnODL9orrv0XR3vm5wTQKf3kZjV
 4Gff0asOOvQOsPs4pYZ3sT+r9rAICSTJG72ud+c3k+T1dNfH89nBQ27882ngwR/8U2TaMcH1/rxB
 ZIKZrs8DqCT5XNDDIWQ7AoHdJzEtoQsW91XM1HPohZ/Clg198dua63+uT9fJd2WIu7MrKun00U0Z
 0I7pT/EuXTG5We9hi+v9JW9J8jL7DDk/BEDnFJdnvk9BL5eXvu9+8LvTe5iTXbp9IZ4vZ8zQ9NsK
 jRDvNi8IbernZO/ulRLNevATW5KYdir8VhsjT/ebf1/R2z/WxllVaxLEgzL3nMX2BHF/g4f0oqtC
 px43uz9aZl6if22G42K/ZNSod5Y209NJ8pT5xO3TJoDhE89MW/KDfxl1JtZOM4Zm8Ld0mX4SGThw
 Gs0fXcejKR6HlwwUa1wzd7s+b7/Qgq44jx0LhQiiqERaVk3jGwLgoba71xJVxo73S9JiUbgr46G5
 8P3M0AsZ06O88nucDmuY7rfNIMkDyvrVVlD3ByoNJKwugeU/+JeyCuwEufTXWrmR5JEx41rtKkjy
 ooRTrXfQ20+XRJ2rfHZ6qFc7qpWPvcjSc44yee2Mjd8QAHeeuDcuXE4Q58mZ0j6rxLMuXXCZ6Rty
 ctSJJItbU2+Tz/f603ImLCPJvTW06xPOgjtoXRNaf/D/G7fQrk44Ay6jrZ8Qi8wgONF72lzy9aVz
 Lkm+K06+bTs0zdVjrHjAXS5vv8VC31QC3KziNYno5zpuWUEWbqev3HCO9Gt+//rYkLnglEZEWtO4
 GPs34J1xeQ6sP/i34aFxi+zvkeSJhRbhjrroGlycu/xH94bcqp15YL6lV9W1W9Nm+tkRGf/S8YPv
 /NiynAliyMp3T4Y797WePk/l5Qm7eq7FuUzzp3+DtcZBxVUBzHfQdJUD8xw0XKk/+Lch0y+5DjKu
 UugaNs5InSsJkfjaY2SQ6IGCpk02C2aIjaCc4ps413HNbwTAPWNPm8X3wI2e85ZQTTPulblRF5bd
 aWjebRc56yJJnrWedNrlIOgyqdXlzA/+bWk96YzLIQRCkr347BySfLDbLWnR07tNt1a6aS9gGc93
 s9n1aUD8V45vt5h6wr2dIG7udz0WsIggrm+fLTovJWplW73DgLv2pzdHroy7bkeS5OGTpnttb4Gt
 pkdtH//g/2Cj6U07LqRiL6OnNpvAE4YsVktBK+PkSa643mZ6yPbeXzCPE6a7bW+S5FGqmaj9GJJs
 3zBV2b3ms3qngcsq3/r4xntsvjlL1AhixQuCEHqDAGid7NDkegWMcPjkxs6b11KJFGJUU7LvqJ6z
 5RGSrOlWZTPiYZDdiBN8ocrNOP7BX3CrhXKAgQZJbqqZem2+KkmWigSapMB+FerWQx7NuK9LdZKR
 018wnyeqrEYcmI+sqqPRWHQJcfpN1tbICBT7qNm1NXUHNhhst07mXXfMafyzKdIIgKYsO4FZMgTR
 7Gn3bhaptfN0s1XT9Gctn3dwaEabdpFk9WzFQ/oxYJvSBP0XP/gTzysZ698HbylJ6DeQ5JZdcufG
 QCSv48qcuqOIJFPSL3GSaNMKJoWVrQvAfWeV1hrYgA+VWPQ3gDeUZPVPMMYx0X/4necHzVbtqnha
 fw1J7ugYlWk2iSTPrLZe47Sn5XPjlkkTXOy0djamTxrhIoEAaHa265yF2t+y22GW6yTbjmPm44sc
 Cru1az3UjhojpVVPVyT1FcFiJRf9gH8wi5Tc9dH+Vl9V3DK2GGxSXDZ2CUlWdatlmySQZOU79SDT
 oyS55lK2S90zkkz16LAZCCbJPPfoFyUOyATxo9dP7MN9FaOMx8Phm8eqnjZOxzjNigvGeoMnFe+N
 vQMWKs3WX/wd5mur+EEfIrD2grqe8XKSPO5sfnBKfbd2i5D9ntkVth1N9+38Zy1DANz0dr8b8JIg
 rtBmNvq3BRY3bbOdM3MPSR4qMGab9IokD5oZRtlcAD0Ny2xe/QPparhrElLqwQMGo6yRUvcfGx/p
 OJokt+l6LAkeQqr3S3fccoAkc3fXcl0QIsn0iDPn3lQjAJZ2GA0gQNKyznr0IEBW7a+3uOdIkmsN
 K86dW0CSZWGJVZuuYZz57pSglxiXHB/sKIH3hBm62az/DvM2MFxmc5YkG9iMayfnk2TzVLu1sx6Q
 ZOe9GfP9lgT6d1V5qy7SQwBc0J2+2+sYZ2Ynj8sm38rkq6cOW4pNq0HtmKR/3Ar95IH9BmZWrWCD
 wUSrjn8QDxlMsrpMkvWqY59bGpHknvyJu50r4bjWJJVyBMQq/pMFz6G2U+3Oc3y2Rco/c0FiEJkh
 VbnDe6AMLGkP6s8C61sr+rADU26erxs0A99cKByCOEt5ev7yYCBJ5szcpXRNiSTrou2mekBs17Pq
 x1s+/A7z32mgZ3UK3G3gROcZDaubTshgF2yn3/C6lS5zQNGwwqqOm584P2lak2eHqEyb2pQjbtsr
 fA+zmby3g5jYNWp0n3kieFfnmIXuP4j3dI5b0EhyN6uOmTlqeV2rXp+1PByfGLk6H1oo7UPThfdQ
 2akL2m8P8JJkdlyd4RWk/BJq1JOi98gEJ6v52zBOanJ7aP9aaAJq/uKDEIHrXy5TyJKBJjibfrEW
 fXp2xM7jV7CxCoSzXu2ch/esoV2wQgbZ9VynxkLsz8//J0qOfmCObuTwHdM2O5SY1o1T9N2UNjec
 q7fVmzlBrIpo9LeZ63SDKn5Ef5yQ3bv9b2t2QPWHkOSGPhme0W9JcmORzDGdnH8ET+jkgjky+Tqh
 4BWpY9rOcJy5/lQHiKnM2u1CnVVwLPV8y+BkZIDQGp4O7NQi53HaLnNxf7zUOW2k9tW9yQura3Gf
 T/vgwCgEQOji0kzU+E0iUne0UULKdinJG4mQZPElWofdSJQQWS2WiZ54vkKmXmclWIh5rP4O88+T
 2aGTBD8+lX4/GiVm63Y1VyOU8sOypgqT3x+WPJpvFmu/SD6UOGppZmAfrpm7p0t3zkSJTvtNBrJi
 Y3wwwWzRUA3UkBJC9KOm0T+AvGLcmmiXip1ESjSg1kvYhDeroo3LbzA1nIG2LnVP4663MGBqYbtt
 PxyeW7SMMzcI97dIpGpDLJesF3yhnIqU7ppkV22J+xa2DwxAK6w2XCSdqYD7PoilayJzlIwVNdFw
 B5eKjFM3BC1EDqmfA1lE32uO/X7zL94n6q9xHowDj5FkeQx1ny5K1R43XdsJ1M62g9qGb2ziNFuJ
 Bl2TkZNrtevrTmt3jV9xU7NMRuK11i6kptdCO1Rfk2Shm7CWmvOfoLuwttpM0EeYpubNoIGaP4NG
 anN/l3pqPl895yU8Rs3td8b/9XVvYV01z6/46+eY5/2ExzLGNxLmVENtLjATmquK1F1oJqCnLIgd
 3GroM/0dHNp3uvQ1dljq2vaA/jS6o4O616DtKhQXvTzKBWzkD1EUQGq3SWjcLIf7AjvYBoxx39FA
 24zHuD5Z+La61K/e7/ELu3yhh/Botdl/wL6ewjqM9Rv+cv4FH4VeqYmDz4S2qqJElV2TjNU2R6kZ
 o3XbbKir9sA6A2Hr/TouxOm9Vk+ddI0i6rsNA21KevI3myly6OsgYrZTX9DswDdyxrSEf4M9cqY0
 7IjyFjkKDYYod6fG62qBfrJvx0CVls+TLRszAZwjWzsG6rjcW/bsGIiU8tmyPWM2gS7UGF3soPJp
 1DJdtFHl66hduqiZ5b1yZrR0xvjjaHBEeZMcCw0iqryIekgXKbr87fD5COoJ3dUMHmfwtZwRLf4r
 hlKP6SJ1lkdRG3VLwCRqu+51pOpXVNqYuzgulDmsY4oUqmVQOlWaJLMmbyUv6sOxE89P/ryZJDOM
 tn3sRJtXUjdhohvWW7FI+sBozGtNfJrY1jrc593+aQA7Ok8hSCAXmaP8ktxtvfFfvX855gVHlU+n
 luraM9ZZoku3907qAA0Zpfw91pnBWM/v2/mjnAUtG0ymdugiw2x6RtVlzP8g7KLOsNtFGtaxhU/p
 mQHWW7/eoMj64AeZY8fGN0yRNREnzo2crOuy18zr8B7TLXaCgxa1C9UijFeRZI2DsoshUkZNhPIa
 w/A/wEjltYYRoK/yPMNJePEExdv6WEi1nGqD8UX0zU3a9ydqgtZjcq2RAqvidUwtN6IvnqZ5cDzU
 cnWKsooB2pgtrCOrxori+JTiQf1xOJ6pdMAAoqxmoXKC4QowWOmSAf0LlZfKfAZdeL5XbbEJat2W
 NiwUO7PGWHmaIfrgGktlT0Ph4flh/JpQ5VzDMNxHVTptAANW71KKMsB8tvgrtRjQv/kco2xjyAqO
 VWo1gEqvnqn6ySQFO2xd0PZcZIQ0SnN87xY4eNL53M9Q/VmXdvVf34HrXcu35SHwcus2dJ+G2Erd
 0hb6CQFSGBLybE0BxlujZKGPNqwmW5nNoBPv01G6akC3S6NSgQE2QvUhpXQDbfCiUoIBMkENn/IE
 w8mM9SYaRv+OvZOUiwwRUFvOKmsYoC2trsc4KAE1EsqzDRGwNVNgB/ixtl2t3/gqNMB900u2nwct
 zlZNWuT82syLOPXGMn1avpnXwRGGC2zUBi2qa5RW6uvBMRwKBjSo3ipjheW0Xd9Ac4VIGvrhqgkK
 QbTtoIzCBT01uvjRL7KH+s1/HrQ5Bzs8a86WSR1Qz+nlRyQfw4Crpu6uuIEattp4deFe1MaiGz7r
 Y/D+DYdMmqZHIoI3KlsbwtGVwlIXtLCAyrMyYtoQNxVDijP0kXpLXR2fBVyCoYe8xaO7cX2DrLkO
 FayVf0ZDO1Slo7CQVg9aDM/PTCGcflwZKH+IhsxQOVKeSt95lZxyUbpwTGWh/HUaanIVm8JE2n4c
 75U7pAsDb3qjdXvCVvTxhTHSpXyYf++RvU/guNQpFyuHEEhpyq0X+5DZ0iRbnn4sxflHrR59ysgI
 5lnjdxpAlMmbPp4OUV3xUukFPcCrzKj9Oh8x/mMFCg0BUjlBvpSGTFPxSm6JLjJw5Qx5Yxq6g8rd
 8u8Y8zdUCP0Xdo+hs/KOggptK+O5rTRsqCouBTuGH3gVTGmxCIx8pQB9iM560nC2DXXQ4tSQ5fpp
 NQiAg3qG920KzLy2L9A4YTpx0KLkpJi4JlJq0Q7KC3UstOi6iIy6we/wjoicOnZoUQylRw0pqCiB
 slkNqb9olOwkGnZqdsjaD/V5MIh9h+4A2qnUuW0jP0GspFqdOf2WExTq2DfwlN42XbAexIRTfVtb
 +qCGV1ntMLpCwIBOMTvWY4fnj3ZPCkeKzs+dGRcM8bVWJ8wnD6k2Q77B5eFevKc7aVM1ni86KeCk
 iD68iItyRG0R2CYirj6KMb8Xani+KILSrXYFAXOTMl+tAscHRfjVkSqLIjH/Wwx+ULvDeG6kOtqq
 Ih5KgxoyQZEvpVoNGaSwTDJiNLi6YvLOudAE6YuTpWtQa1Nv1L2+gUyTuqSF+0MHfT0dUwaSwWOt
 WX0oDas0d5ZcfYP1vAjOXoOdWTBV19l2OsZrFX6uiq6h8DMlXK0c77kFe9Ltaka5qLaRvh4RQXXF
 b/DDNRFpBq+KSP3ifAXljjrsWDpf7Bn9P2XdIaRZYPpi0OIgq2GFzVwEwI5KLSEzazOvDUelO0Zf
 HrTIOsBxigpRkfWM4z4VOy2rh+MlNfN32MfxiYrIz1rHMU4WKTirgP2YLCI3K0D86BhEdOrzhmmP
 /LAzLhf4H5kDh+2erRnBBoOI2aybC9GUIeDaHsWN60/SN+5op3+DdsTyCWpiqknH4QG66pa6sH4I
 /XHKy+aGD9ipKc8aU3uww1P50Y65glkntV7CwRk3ZliHIsVmZbNclILmyFJiny+LlJr1iKOVirY2
 K4/jOBUiKWsNx1Eq/bw/Ry5jvg/ZO2Tf0q+z58gWMJgrWwg+Ya+X7WaMM1UWOydrMfsH2Z0INDbY
 B+/NVmLbLcOD9rCZP1vFAuupHyPugG4h7X3h8WOmdA1wcSkJw6fKtzl9Wgz6d7R8pgeKaJvYJzgm
 taX05WkVzPuDYY7LFMb4N2URoFm9HEFUaKIsN/YrsqjtWbc5GqkB4DuOV9Ssb/DHr3mYYxcV4jg3
 mrteHhu0PJ3aous9aLH9wiidcckIgG3vNIxMHpt5rU+T0B11a9Bi1RbWKdJI1Zl+bBoyWFCmL5u6
 jMrvcD6bgQzEXaYgq6/0aRgikmWM1A1QZ4QfXYWm8/rzJqE2rtKT6hwLR2YuYTVHaSZX9ROE6DUc
 S7KKSKIWrjpAadZCrc3QG6PugJ2YFjZXJhXjpUYXpR/HfSkP99+504Zj570St7FD08yzaHvggAxi
 QpQP3rPqCf87lU8YbylrvDRScKYJa4Y0nlt1ilVWGtohcy6bmowGGMA2SgYBk7mQTZFx7Me6R/o5
 fR2stb+gH+sWaaj3zOWsB6X7wBGsttJIxZksrFnSKDmZC4btk8xyR1oMnE4QwuuwXlp0Zxk9Ayzq
 qPmMDJemlHxq63vQLTluK11ETmm83APtkzr74lZyIvh5vePpg5jnSrmZxiiBmY4st6SQoTInsLZK
 9zL8oPy79v/fqMf6Whrvzw7kaKBiY26cJr159PVBi20j1fVM2OkBMEf9kwmvmVdZnuRsrZODFtmr
 OSSoXmhf9DnuyxEM3sOG+9e05HglR/9GLIhDmYpIz7zANiCDFJw1j0OVOg3n7/KeV1qK+wzY3WWn
 MZ6roZ7E9Tvs26j84GN2L9lDOK/MPkIWYixHl11PFtoh+x2vgCLEVXa78BRNBEh2hejL0ajF2btF
 E0YjNWc/E0xWx47IGckZLgdVnjOeQ4gqRX+e47kcN2MHH2aMv5s9SPYS4/xt6udfzP/+MJ/KsTHY
 /QsacLyQ42Acn6WiZmd7szfRM0h2LIc+FeIrZwLHS/p7wPdyeE92LbFQkoYAeBCbswlaJXV++41+
 iLIMP3+/JJSa7KUi47Vgn4ziyNGl0B6pNa21fRvoXUVj0tsBnD/nujBKFvctZjksVY15b2ePkcVG
 yn7LYUldy5jHXerQN/jj1xTkqKNinNyr3Hzy2Agb78k467BA7B9QlzT2QQDsu6i3w/K0mVfNXJUt
 RrKDFsUxol4al0my+IjobA20E8UnRf01nv4OL4iGa2CHFL0VsdZA+1IYIDyZ3scX0ShUdWSG4q2i
 PBooEcWnhu8/hvEf4Xo5ZYc6REvRBIq0Otqjoqeo1b30L1ZEAzWwA4vPiRprIDCKz4tKaqDWFmuK
 sKgfYZBd/RjYIaqkgZ1efFbUiTHfkz+N780YP4uSr44dWTSWYqaOlFx8QtRH4/FX9zWKztd4wZjX
 HI3u3zjfLLpEAzW7eLnICw2k4qKplFHqKE3FuiLJGlDnxRdFIzSQcYrbRcM0PoAlgmzK6LOz1yfK
 bw5nBAA5gFKTu32hzypogOKnqMkQtes6JnR4ICDTZ9XPvYdASTly8RbpA0fxxHKXoYQVuwo8Ukb3
 VGROkWRoqypKnXrtz3b7X/3xaxaI0jROQAMcFS8fhcCq3ab21rhn0GKfqh6rpTECYNchnSLz7WZe
 1XOU9hkoDFoURgpX0cVOAaegrwp2XoGqYK7Krt+hluAaFYiw/OuCoSqI1Lx9AsXK+8D9AlnKNbjO
 LRipArVfoCKYqQKRVjBSMF0Fjs/nEmhXfob7qnEf2qp8O4F+FQlcHyWYowJxl39IUEHFEsdUwRUq
 6O/z0wRH0o+ZLJAfPs+8b6RgmkrtV+NzCLQpw7F5dwW2KKOU5J8T1FVxwnV1zHcP4zlFxnNigjEq
 6xnnv7y3RZCmgu4iv0/QSwV9c36gAKkCB+ZtEUhQxg7KpwkE07/xyy8TuKyM1Jr/QdBeZQn9Od5w
 BYjArOCV/VWOdDHYwTuAlJ/DtyA6/SzGNxdwUcb715SbFM2IQgAo7fe4A9GXcvviELmCrp2iDpRe
 oduLT1QB3Upeu8Be5fMYl12gSRmOLFAUXKWy7Rv88SvmDwjOVEGXUqRMcVTDBtsipOxrsHHQYlea
 zjzzVARAbbH6WpMxZl7l6tREXY1Bi7U6/GaKcFhuP88FBRhitSovq8LKb6Aur6ACdkruZh4heRgu
 15zbQw6iI3cJd548+vncYO5ieamvaM+9RA4iLHc8t48canquC3ekHDJJbgh3CeO6Mre3XCMMWMH1
 Vg47I8ebq13u/FdM4nrPOP+SmybXAL7iHiOHHZ67iLtMHqk71wHjvwb1uV3ksONy1/FwyEPUrtbk
 5VaAA3MXcx+Rxw7LDeTOlhdksFQeGSx3LHe4HAIm9x73ITns8FxOieU6m7CzDXUnOmBH5+ynJGsi
 peeE8a1UYqWXKs5UKjJd9n6CEKOL0c7Y55uWM34OFh5AgK06Ma8w1R/jnBXMU0Xbt+po4NpMendQ
 1TS9F+tMzT275x1KR6awZ11sJebnw7lbFuvLnc69XR7aJmcX1105bKjceh51+RrG/PkUMr7dL7kD
 PBcVZqBrkuEfrQhRWC5HjdEdiRKwW73SZCICoOy61LTRqmZe6+6N+Kz0adAieRERJoramuhMHKJg
 oYmxxFFK8zcwjjhGaQGXERUUqOXE+UQOpQScQ2RRin6D84lcClJ4YgCxmoIdmDhv+H5/XEfJSLhD
 ZAsngpOJ5cIw8EoDUA+kDXMaES4MLZCQQ6QJjwU3EHHCaOcSqUQ2BbU5cRHG3/zVe5jzih2e5yKi
 hIKUmLgA76OvUxbEcwk7iVxhaJGEkwQxYpAkkxZqlVnRfwuYfjjwMbRRille1iGI2qT9vh/jEVAJ
 C82kZqC9SnBWkzSDdkh+lGmxs5Du2A69gTDcPzZtfO0ZnH8d5VAKDZE66tjWZwi41LKLPSR2esqo
 cqNzUP+JJfJr9enzioKYREZJuEUUCeM9CeeIWGFon8QgYiNl91fz/1a/OBAHKdBkyReJVaLIMOv2
 j6hSujJosX6vZKK2HQJgvaVY66iTRu5rHvLxjqzrmZGoTRAUpKgV8QQh+ATcTRBCkn+QUt+BdSAy
 x4qdoAhY+y/IvF43zF2gxP8y/m/Nk/kcc7x8guBHzU7g0Ro/MYr+O3/Lro9wZGrlhdohI/pvAh2+
 jN/9TdsMPyHwUqzPHH2DwE3latJ9n8oIALUBX3BVe/sAvR0sPn90kN7+hbe39V+EQ2orJjdNRyDX
 jhtwQRu6Yj+RJrR/eD7iX82nAH5AhlwRBmKDrNiL89Q/4A8/PIf2OmmACBBlQQnazrt0ZOsHmcIY
 SoS6vok4UWwtwqN+WLtktRX3AQXKjecJdxEASDFxOwkuAURo3CeCW6D/H8jXyADIEPEhgjwKaNcS
 NF1dwjxhSFpayVak6GTVLe0d0DzJD45kPXFAAGw9J/xOmd7etSUy+v7w9uB+1N4U88Nej5Dyk7LX
 vN1vjHEovk9iZ8ExMqqOxtA+cVNY9o+AhorrJQiBa1+9f5DgFkTgxNXjGIEW5w0qgCTOs/2BdVRi
 XGijxHzCWQQidXUCD5dCVldtYZhwk9oSHRdi43EZQodHM7OoScRI/UrnhKxZnNqyqB1pz1jOS6A/
 TTdglZHk+wfQCBQATUARBpUksbPTNVncxUPp97FdkVwItlK2jjJBrTdQCDS5DSZqKNP/W72Mbo3t
 1kjZaS+yt+1NZvyDkc5+1Pw0hxD2vAg890qiT2eI/r0Ixz7pEJCTIETp3YAAyxuJelCfVVaS/6v5
 0OdBAbVAaJp0CVYZCbSj6YY45v/2daXdYGmUgLjNduK8REWAFglR+NX2d7aVjhRfqFmg2UqUJ1O9
 xxCyT0uKxdI0p+xflUPlvCAHsZBuRxCS6NfTawk7KcX/Ym4HVcB1hJ0kUnF6GLiT/m/7QGTA9GrC
 XgopN30LoSmJtjS9jCAksEHSSwlCnN73r4H4Qw1PL/qSmtNmRj8s+0gXge3vBxAoqe99ylaidqcX
 EEcl0FambyWkJFEi0pMJK8nzjHHtpaR/Na+RYDzeT7f/UvAUmIrzSuC2P7i+cfAjAiynhytQHhmk
 JEp0h6bRYckyKYkerVvyocQGdmkb7Vcig4V3KNJq8RXymbkcnTJok5JbsDAPpDAMINb4X0xL8ALW
 ewVEICS9IwgRtGfJhtihcEyKBs7X0MUfiHYuxRSEY5Lf4zrazRQajjd8oRD9n4JNiLtaLgZ2XoKE
 pJcA/81JwaAJ0SgOlZ9iPPx8xvDzysPPM8c3AeHw5KW4HgdOGubdL+dTLP7Y+pJPgChRWaycDbLr
 0B5eE/ZRC9zcUKgqXK62W6yKqCDk62mHOZesieShjRRNzk9SZ00RQe2LHksQfAEgIpsPL44uAc/8
 FxI7mu8cGAGia4iC+ONFCo9aDVbhfBrOo0ZHY8fzwaDRhSAcGPUQhEiLTgC3g7ifB5kzply3zRKO
 jbV2Ng3AuDFCagqGFYznp/JTv3q+e/j5xOHnmePT54U2NNoWDAfth1k2fP5b17UOPA7GgOkIBF7W
 x6LoYlazcl1RkE6XWX2Nt31kPzc/kZCHtsOdIDL8iTrJN4Fl8ZEQDR0kGVZFEJxQx2G6BMGBNicM
 kcdx7b+YVuAtUAWEg8L4QQREGHY8x6Wv7jMHr4KSYN1X1yeAn0EdgmCdDSp/+W+tw7CRWDu/kOPM
 V+P8+nl9sO0r2oBdX/GPrkdr+H0D8GMKxCwymyBKTtpNlAT5QP90eXAKppiKdkMc6SxtLWpbh20H
 ve0QEu7WDuvAg6NJMuQ6QbCjnw0ZBPP+ASTBApIMZQGL/vV9obAde+HvXKc/j7Yt5CToDgaDvDjP
 9uU88/lQVrAY19HGstv+zJ/O/7vruAwuI8nl4vAjxOmK8/Drhm7tVAX4e7dtR8oSkAuTSH/Oskvy
 LDLAZpY9UuFaO5PPsJSLdrV8jjpB+PJuI8nwIwTB9Rp8SxDcI3/wm4m2jhuaInwP7Ic+PtwTRGkJ
 /4jzar9x/xtQ4Sv+2fcfxPu6UWpeEkV88igBkqwCYnwtn5PDiE2ipfDzIuKGKOZGZA1ySlIXEES2
 N9dauam8eVmGbIdkbtUUJmQTnRQD1DLURn7Utth0MBaEeOGP/8GfCI3AH/UV04eZNUyUAn4faAFo
 KX4zHKNr4I8Zfj7uPzQfup9Q2vkz0P97sfBRppNkZiu7nEx9TV2aCku++G7edRnsrIWS++kBkMUi
 I70FVGDnl4EwyeJnWyNTFrk3aT7RIPL0U3F0EETEki+ih/fBF/HC+/QfTvrOQi3lhTaKGg/xh1Qe
 JQcuAIXAQJKMXIWdiMwZ2YVjT/AquBTXoRF4EBhRKA28SPFRL8BX33F+w36KXgm/haCrsSNURDZ/
 Vk9/QuyQ0ohvzDEjWqkyBDF/66/+QETmHjZ5mYlgEhurjIjJ5yQhYibl8534SG4s5MZwStkIHgc3
 /2A42isudAnhSaATai3aNE60i8vRtnFiJ4Y9Aek1WBXEjlzeBkJbhPvi/tHD4zDtWf0d53UI3ISA
 W4hAg5ZIvEuwiYy+25TqQciIjxzPlzqTkBWX+I2/ELJqDTLBSGgCVuKmxDGu5pgugp0/vK6boV4R
 0UFoV1iFQbQ9rEI/+BNTQFHQkiBYLpDksgcgdt6yxyDat2X3vxwHobtgQTsZlIz7Rf6D8xn20/JZ
 CDhojti5hAj/7gMFGStY46TERlAyzVkfS5/9nT8SlY42RyqPiFxhgLZhtduoSLQT3KnvbwXdwcAo
 BUHzsJA+MBAc/MGfuAgkwWWwE9tvEKqbleU/+H4/sJckg83wnnPIAHgf96XekJj10AI3vKpiz6AL
 8PydPxLF/IShVnGgjqxEGyicLJ4bhdTP23iiL6wQEcVJPgs2wQtq8SIXsGGYh3/w/yvpftAHt2Ln
 q8NPWuRrhrZoOPk2Em0nzyjxgLh9BCHg/Q1/Ji7pNkGIIgASNQhC0pF4lVyL46sutxI2ICDO9LDG
 7Bv+5gxqk1cThIDkRQ2Mrgan/+BfRqbdk774IQZ+4msiyYRt8NPJt5+Sd9O/QvZQT0LfL+rN0pPU
 Ayp+QwC8CEMWWEwQKWp4oJ4gUvsJQlxUKDjZGseRxQkr9FAaEGnRT/FCiIzoOhA1LRrig4/6g38Z
 t32xewx0G99UklzRAL9AYySbwk8RxRqp7+A3fqEF9N8yRFHzKz4SxOiSP/A3g1MgbsTECCIB4oaC
 FicRx5RB7cSE0aBEs16sPUGMQARGQhvwPAShinkawVPguR/8j/H4sJ3RdfA8h8iDVuNH27fyNWr8
 6Wa9xDUEIWKinZowAX6S/dmP//ZnpScGfkkQi22+HMciIEZMdeiNHEvvZ7vYQ4egGZCSQowIgi0T
 RMSxoc8NQb/LtuIHvxuZdp0KbkCbyQO7eyAQ+OAHyy72GG1kgssOvfPrfum37/ZZIviFS8fS/6wo
 W3C4NPrNo451y2dAdFy/dTkkBBO7DzUaATEiAE6EKr0KTgcf/+C/TaYd6XYdgQBAf89OQOw5we5P
 b10ORwngOulYtywf1zPYgpduwv2n/oP/55Dl6De5RKAToD45K9l0wjPpX2g49C6HGOGsarYK8UIg
 vBsqDKrBhEwwcahSluMgSgdLyw9+M5l2G7ZjyALYtX+oMEyP/itfs9VyCdh7i0NveBbaPTk2HaZf
 /rJPKP1nU1WCCPzMODwSRv8mzF07K+IM/RuoYo0oKajTjT2ekag/3H0kGYHJcYWCI8CFIFIXVwDI
 Dy4YPv9PInPdTDsw7TJsJ4bdPpJkFMhb0uMZcfqLXZdTYeck7awgpHzWBbB7GL09/xv8X8QYYrET
 RCkQYRcOThQCldw/xguj/8w6tSgONWuE8/sHjB9HWIeoMbe//MYQcw50pP9DCtDhV5wCbgadh+ny
 f4zOX63j1+tjrnvYDrHYUPzsQ2fieGGnGb2r4iCuBdxP+a7gQi2Xdv+YgNJLOSMczLTz3/bjWP6F
 a1YShEIES1tcOBYyQrwmdg8WNt31TGwQFvq2rjgWopE/7d716CswgEb/zqjtIAURfxRUBekGGgWi
 pvG2gxtBqOCoyuEfYf5upM8TfXjUevDMV/NmroO5ruF1Dq97Y6w+7JB4Pzw2ALx/oCB2F11ke4XH
 mYOXxWfHWuA+A5Y2egCIxRL/dz5hUKAcmHB6L0FIJRNEtCgMkkeYx03Gwk5xnYpxxMIsTU9HZYNE
 /LNIGIbXomZXBMQOD18rEb4VKVDnad1y7CTOnUPrl8NAnPMgfpD6ODVA1EJOHRCBxDkWNAH1wfGg
 MQgDcpp8RzLHZb6H+d4xjG/eyOVu4CwQYoxzLVgBbhtaz1wHc13MdTLWzRLfGGMGKpv1xWCD8PmN
 oMRhXcKNhEyKKxze/bMd/2s/sQoQOz7oMpA5WGR5NwbNBh9q7QxqQo3zsPUJRuCw7gn0D9oB2qdr
 BUH1sjRsbghCe8Ry9rBkEPpglvbOtiBj+o8xXbVBcBjLlQ8yQRZ09Tx4dpgWf5JnfxqX+R7mezXp
 qhvzCKB/57+5IZgDLE/XCkZNZ92GeQ+vg7ku5jqZ6/7x+Ref4GCoXjbwEbicuBnUDkN6c1MZP66w
 iFUFoZSwssqHfqFm6xfquHyhifgXmpUO0+tPsvSX4zLfg/dC87CyYx7IbCzXMa+54AduaggEMtsB
 4iZzHX/Xz/8DywYCHJX8T6gAAAAASUVORK5CYII=
